/* filepath: /D:/DesignLab_tymczasowy/DebtApp/Frontend/debt-app/src/CustomAlert.css */
.custom-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #13171f;
    border: 1px solid #ff9500;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 4em;
    width: 50em;
    text-align: center;
}

.custom-alert-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-alert-content p {
    margin: 0 0 10px;
    
}